*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient( to right,  #a517ba, #5f1780);
    padding: 0;
}

.navbar-brand img{
    height: 60px; 
    padding-left: 40px;
}

.navbar-nav li{
    padding:0 10px ;
}

.navbar-nav li a{
    color: aliceblue;
    font-weight: 600;
    float: right;
    text-align: left;
   
}

.fa-bars{
    color: aliceblue;
    font-size: 30px;
}


.navbar-toggler{
    outline: none;
}

/* ---------Banner Section----------- */

#banner{
    background-image: linear-gradient( to right,  #a517ba, #5f1780);
    color: aliceblue;
    padding-top: 5%;
}

.Promo{
    font-size: 40px;
    font-weight: 600;
    margin: top 100px; ;
}

.bi-play-btn{
    width: 45px;
    margin: 20px;
}

#banner a{
    color: aliceblue;
    text-decoration: none;
}